.stakeunit {
  border: 1px solid black;
  border-radius: 5px;
  max-width: 300px;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance:none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}